# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: Bezirkskomitee Chemnitz
email:
description: |
  Bezirkskomitee Chemnitz
  zur Förderung mathematisch-naturwissenschaftlich
  begabter und interessierter Schüler
keywords: bezirkskomitee, chemnitz, wettbewerbe
language: de
baseurl: "/bezirkskomitee-chemnitz" # the subpath of your site, e.g. /blog
url: "https://fabianbartl.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# build settings
theme: minima # modified
plugins:
  - jekyll-feed

# social badges
github_username:
youtube_username:
rss:

# analytics
google_analytics:

# main navigation
topnav:
  - name: Mathematik
    url: mathematik/
    faculty: math # name independent faculty identifier to 'connect' topnav with page defaults
  - name: Physik
    url: physik/
    faculty: physics

  - name: Chemie # this faculty is not hosted on this webpage, so define an external_url
    external_url: https://www.tu-chemnitz.de/chemie/stoeck/
  - name: Biologie
    external_url: https://www.ipn.uni-kiel.de/aktuell/ibo/ibo_web1.htm

# custom settings
dark_mode: true
date_format: "%d.%m.%Y"

# kramdown settings
kramdown:
  header_offset: 1

# page defaults
defaults:
  - scope:
      path: ""
    values:
      layout: default

  - scope:
      path: pages/mathematik/* # location of all 'mathematik' related pages
    values:
      layout: default
      faculty: math # name independent faculty identifier to 'connect' topnav with page defaults
  - scope:
      path: pages/physik/*
    values:
      layout: default
      faculty: physics
