# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: Bezirkskomitee Chemnitz
email: example-email@sachsen.schule
description: >-
  Bezirkskomitee Chemnitz
  zur Förderung mathematisch-naturwissenschaftlich
  begabter und interessierter Schüler
keywords: bezirkskomitee, chemnitz, olympiaden
language: de
baseurl: "/bezirkskomitee-chemnitz" # the subpath of your site, e.g. /blog
url: "https://fabianbartl.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# build settings
theme: minima # modified
plugins:
  - jekyll-feed

# social badges
github_username:
youtube_username:
rss:

# analytics
google_analytics: UA-NNNNNNNN-N

# navigation
navigation:
  - Mathematik
  - Physik
  - Chemie
  - Biologie

# default dark mode
dark_mode: true
