/* colors */

:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

/* apply scheme */

html,
html[data-theme*="light"] {
  --text-color: var(--base00);
  --background-color: var(--base3);
  --border-color: var(--base1);
}

html[data-theme*="dark"] {
  --text-color: var(--base0);
  --background-color: var(--base03);
  --border-color: var(--base01);
}

html {
  --highlight-color: var(--blue);
  --focus-color: var(--cyan);
  --title-color: var(--green);
  --heading-color: var(--orange);
}

/* general style */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
}

picture {
  width: 10em;
}

picture>img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover,
a:active,
a:visited,
a:focus {
  color: var(--focus-color);
}

a.inherit {
  color: inherit;
  text-decoration: inherit;
}

a[onclick] {
  cursor: pointer;
}

h1 {
  color: var(--title-color);
}

h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h2:not(:first-child) {
  margin-top: 1.5em;
}

header {
  justify-content: space-between;
  margin: 1em 0;
}

header>nav {
  font-size: 1.05em;
}

header>nav>.row {
  align-items: center;
}

/* custom style classes */

.row {
  display: flex;
}

.row>:not(:last-child) {
  margin-right: 1em;
}

/* remove default style */

nav>ul,
ul.posts {
  padding: 0;
  list-style-type: none;
}

/* custom structures */

.posts>.row {
  align-items: flex-start;
  border: 1.5px solid var(--border-color);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

html[data-theme*="dark"] .posts>.row {
  border: 2px solid var(--border-color);
}

.posts>.row:not(:last-child) {
  margin-bottom: 1.5em;
}

.posts>.row>picture {
  width: 33.33%;
  margin-right: 1em;
}

.posts>.row>picture>img {
  object-fit: cover;
  border-radius: 10px;
  max-height: 15em;
}

.posts>.row>article {
  flex: 1;
}

.posts>.row>article>p {
  margin: 1em auto;
}

.posts>.row>article>h3 {
  margin: 0.5em auto;
}

/* style (adjustments) for different screen sizes */

header,
main {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 40cm;
}

@media screen and (max-width: 1000px) {

  header,
  main {
    width: 95%;
  }

  .posts>.row {
    margin: 0.5em;
    padding: 0.5em;
  }

  .posts>.row>picture {
    width: 40%;
    margin-right: 0.5em;
  }

  .posts>.row>article>p {
    margin: 0.5em auto;
  }

  .posts>.row>article>h3 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {

  header,
  main {
    width: 98%;
  }

  .posts>.row {
    display: block;
  }
}

/* ai generated */

/* for debugging */

* {
  /* outline: 1px solid red; */
}

/* important styles */

[hidden] {
  display: none;
}