<footer>
  <div>
    <a href="{{ 'datenschutz/' | relative_url }}">Datenschutz</a> &amp;
    <a href="{{ 'impressum/' | relative_url }}">Impressum</a>
  </div>

  {% assign date_format = site.date_format | default: '%d.%m.%Y' %}
  {% if page.date %}Zuletzt bearbeitet am {{ page.date | date: date_format }}{% endif %}
</footer>