<header class="row">
  <h1>
    <a href="{{ site.baseurl }}/" class="inherit">{{ site.title }}</a>
  </h1>

  <nav>
    <ul class="row">
      {% for faculty in site.faculty_navigation %}
      <li>
        {% assign url = faculty.name | downcase | replace: ' ', '-' | relative_url | append: '/' %}
        <a href="{{ faculty.external_url | default: url  }}" {% if faculty.external_url %}target="_blank" {% endif %}>{{
          faculty.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>