<div class="overlay fixed">
  <a class="edit-page no_icon" href="https://github.com/FabianBartl/bezirkskomitee-chemnitz" target="_blank" title="Seite bearbeiten">
    <i class="fa-solid fa-fw fa-2x fa-pen"></i>
  </a>

  {% if jekyll.environment != 'production' %}
  <a class="debug-switch no_icon" onclick>
    <i class="fa fa-fw fa-2x"></i>
  </a>
  {% endif %}

  <a class="theme-selector no_icon" onclick>
    <i class="fa fa-fw fa-2x"></i>
  </a>

  <a class="scroll-up no_icon" href="#">
    <i class="fa-solid fa-fw fa-circle-arrow-up fa-2x"></i>
  </a>
</div>