<script defer>

  $(document).ready(function () {
    // add 'no_icon' class to links including images
    $("a > img").each(function () {
      $(this).parent().addClass("no_icon");
    });
    $("a > pictures").each(function () {
      $(this).parent().addClass("no_icon");
    });

    // open external urls in new tab
    $("a").each(function () {
      var a = $(this);
      if (a.attr("href").includes("://") && !a.attr("target")) {
        a.attr("target", "_blank");
      }
    });
  });

</script>