{% if site.data.sidenav.faculties[page.faculty] %}
<aside>

  <ul>
    {% for entry in site.data.sidenav.faculties[page.faculty] %}
    <li>
      {% assign faculty = site.topnav | where: 'faculty', page.faculty %}
      {% for e in faculty %}{% assign baseurl = e.url %}{% endfor %}

      {% if entry.url or entry.external_url %}
      {% assign url = entry.url | prepend: baseurl %}
      {% include smart_link.html content=entry.title url=url external_url=entry.external_url %}

      {% else %}
      <span>{{ entry.title }}</span>
      {% endif %}

      {% if entry.items %}
      <ul>
        {% for item in entry.items %}
        <li>
          {% assign url = item.url | prepend: baseurl %}
          {% include smart_link.html content=item.title url=url external_url=item.external_url %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
    {% endfor %}
  </ul>

</aside>
{% endif %}