{% if site.data.sidenav.faculties[page.faculty] %}
<aside>

  <ul>
    {% for entry in site.data.sidenav.faculties[page.faculty] %}
    <li>
      {% assign faculty = site.topnav | where: 'faculty', page.faculty %}
      {% for e in faculty %}{% assign baseurl = e.url %}{% endfor %}

      {% if entry.url or entry.external_url %}
      {% assign url = entry.url | prepend: baseurl %}
      {% if url == page.permalink %}{% assign class = 'active' %}{% else %}{% assign class = nil %}{% endif %}
      {% include smart_link.html content=entry.title url=url external_url=entry.external_url class=class %}

      {% else %}
      <span>{{ entry.title }}</span>
      {% endif %}

      {% if entry.items %}
      <ul>
        {% for item in entry.items %}
        <li>
          {% assign url = item.url | prepend: baseurl %}

          {% if url == page.permalink %}
          {% assign class = 'active' %}
          {% assign active_title = item.title %}

          {% else %}{% assign class = nil %}{% assign active_title = nil %}{% endif %}

          {% include smart_link.html content=item.title url=url external_url=item.external_url class=class %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
    {% endfor %}
  </ul>

</aside>
{% endif %}