.char-a:before { content: "a"; }
.char-b:before { content: "b"; }
.char-c:before { content: "c"; }
.char-d:before { content: "d"; }
.char-e:before { content: "e"; }
.char-f:before { content: "f"; }
.char-g:before { content: "g"; }
.char-h:before { content: "h"; }
.char-i:before { content: "i"; }
.char-j:before { content: "j"; }
.char-k:before { content: "k"; }
.char-l:before { content: "l"; }
.char-m:before { content: "m"; }
.char-n:before { content: "n"; }
.char-o:before { content: "o"; }
.char-p:before { content: "p"; }
.char-q:before { content: "q"; }
.char-r:before { content: "r"; }
.char-s:before { content: "s"; }
.char-t:before { content: "t"; }
.char-u:before { content: "u"; }
.char-v:before { content: "v"; }
.char-w:before { content: "w"; }
.char-x:before { content: "x"; }
.char-y:before { content: "y"; }
.char-z:before { content: "z"; }
.char-A:before { content: "A"; }
.char-B:before { content: "B"; }
.char-C:before { content: "C"; }
.char-D:before { content: "D"; }
.char-E:before { content: "E"; }
.char-F:before { content: "F"; }
.char-G:before { content: "G"; }
.char-H:before { content: "H"; }
.char-I:before { content: "I"; }
.char-J:before { content: "J"; }
.char-K:before { content: "K"; }
.char-L:before { content: "L"; }
.char-M:before { content: "M"; }
.char-N:before { content: "N"; }
.char-O:before { content: "O"; }
.char-P:before { content: "P"; }
.char-Q:before { content: "Q"; }
.char-R:before { content: "R"; }
.char-S:before { content: "S"; }
.char-T:before { content: "T"; }
.char-U:before { content: "U"; }
.char-V:before { content: "V"; }
.char-W:before { content: "W"; }
.char-X:before { content: "X"; }
.char-Y:before { content: "Y"; }
.char-Z:before { content: "Z"; }
.char-0:before { content: "0"; }
.char-1:before { content: "1"; }
.char-2:before { content: "2"; }
.char-3:before { content: "3"; }
.char-4:before { content: "4"; }
.char-5:before { content: "5"; }
.char-6:before { content: "6"; }
.char-7:before { content: "7"; }
.char-8:before { content: "8"; }
.char-9:before { content: "9"; }

.char-at:before { content: "@"; }
.char-dot:before { content: "."; }
.char-plus:before { content: "+"; }
.char-minus:before { content : "-"; }
