/* variables */

html {
  --animate-all: all 200ms ease-in-out;
  --animate-all-fast: all 100ms ease-in-out;
}

/* colors */

:root {
  --RAW-base03: 0, 43, 54;
  --RAW-base02: 7, 54, 66;
  --RAW-base01: 88, 110, 117;
  --RAW-base00: 99, 122, 130;
  --RAW-base0: 131, 148, 150;
  --RAW-base1: 147, 161, 161;
  --RAW-base2: 238, 232, 213;
  --RAW-base3: 253, 246, 227;
  --RAW-yellow: 181, 137, 0;
  --RAW-orange: 203, 75, 22;
  --RAW-red: 220, 50, 47;
  --RAW-magenta: 211, 54, 130;
  --RAW-violet: 108, 113, 196;
  --RAW-blue: 38, 139, 210;
  --RAW-cyan: 42, 161, 152;
  --RAW-green: 133, 153, 0;
}

:root {
  --base03: rgb(var(--RAW-base03));
  --base02: rgb(var(--RAW-base02));
  --base01: rgb(var(--RAW-base01));
  --base00: rgb(var(--RAW-base00));
  --base0: rgb(var(--RAW-base0));
  --base1: rgb(var(--RAW-base1));
  --base2: rgb(var(--RAW-base2));
  --base3: rgb(var(--RAW-base3));
  --yellow: rgb(var(--RAW-yellow));
  --orange: rgb(var(--RAW-orange));
  --red: rgb(var(--RAW-red));
  --magenta: rgb(var(--RAW-magenta));
  --violet: rgb(var(--RAW-violet));
  --blue: rgb(var(--RAW-blue));
  --cyan: rgb(var(--RAW-cyan));
  --green: rgb(var(--RAW-green));
}

/* apply scheme */

html,
html[data-theme*="light"] {
  --RAW-text-color: var(--RAW-base00);
  --RAW-background-color: var(--RAW-base3);
  --RAW-accent-color: var(--RAW-base2);
  --RAW-border-color: var(--RAW-base1);

  --text-color: rgb(var(--RAW-text-color));
  --background-color: rgb(var(--RAW-background-color));
  --accent-color: rgb(var(--RAW-accent-color));
  --border-color: rgb(var(--RAW-border-color));

  transition: var(--animate-all);
}

html[data-theme*="dark"] {
  --RAW-text-color: var(--RAW-base0);
  --RAW-background-color: var(--RAW-base03);
  --RAW-accent-color: var(--RAW-base02);
  --RAW-border-color: var(--RAW-base01);

  --text-color: rgb(var(--RAW-text-color));
  --background-color: rgb(var(--RAW-background-color));
  --accent-color: rgb(var(--RAW-accent-color));
  --border-color: rgb(var(--RAW-border-color));

  transition: var(--animate-all);
}

html {
  --RAW-highlight-color: var(--RAW-blue);
  --RAW-focus-color: var(--RAW-violet);
  --RAW-active-color: var(--RAW-cyan);
  --RAW-title-color: var(--RAW-green);
  --RAW-heading-color: var(--RAW-orange);

  --highlight-color: rgb(var(--RAW-highlight-color));
  --focus-color: rgb(var(--RAW-focus-color));
  --active-color: rgb(var(--RAW-active-color));
  --title-color: rgb(var(--RAW-title-color));
  --heading-color: rgb(var(--RAW-heading-color));
}

/* for debugging */

html[debug] * {
  outline: 1px solid rgba(var(--RAW-magenta), 0.4);
}

/* general style */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
}

picture {
  width: 10em;
}

picture>img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a:focus,
a:visited {
  color: var(--highlight-color);
  text-decoration: none;
  transition: var(--animate-all-fast);
}

a.active,
a:active {
  color: var(--active-color);
}

a:not(.active):hover {
  color: var(--focus-color);
}

a.inherit,
a.inherit:hover {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  margin-top: 0;
  color: var(--title-color);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

header {
  justify-content: space-between;
  margin: 1em 0;
}

header>h1 {
  margin: 0;
}

header>nav {
  font-size: 1.05em;
  margin-top: 0.5em;
  height: 1.2em;
}

footer {
  margin-top: 2.5em;
  margin-bottom: 1em;
  padding-top: 10vh;
  text-align: center;
}

footer>.row {
  justify-content: center;
}

footer>.row>:not(:last-child) {
  margin-right: 0.5em;
}

aside>ul {
  padding-left: 0;
  list-style-type: none;
}

aside>ul>li:not(:last-child) {
  margin-bottom: 1em;
}

aside>ul>li>ul {
  padding-left: 1em;
  list-style-type: none;
}

aside>ul>li>ul>li {
  margin-top: 0.5em;
}

/* attribute dependent styles */

[hidden] {
  display: none;
}

[onclick] {
  cursor: pointer;
}

/* custom style classes */

.row {
  display: flex;
}

.row>:not(:last-child) {
  margin-right: 1em;
}

.fixed {
  position: fixed;
}

/* remove default style */

ul.posts,
ul.row {
  padding: 0;
  list-style-type: none;
}

/* font awesome icons for specific link types */
aside:after,
abbr[title]:before,
a:not(.no_icon):before,
a:not(.no_icon):after {
  font-family: "FontAwesome";
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  vertical-align: baseline;
  padding-left: 0.2em;
}

/* paperclip */
a:not(.no_icon)[href*="#"]:after {
  content: "\f0c6";
}

/* arrow-up-right-from-square */
a:not(.no_icon)[target="_blank"]:after {
  content: "\f08e";
}

/* file-pdf */
a:not(.no_icon)[href$=".pdf"]:after {
  content: "\f1c1";
}

/* file-word */
a:not(.no_icon)[href$=".doc"]:after,
a:not(.no_icon)[href$=".docx"]:after {
  content: "\f1c2";
}

/* file-excel */
a:not(.no_icon)[href$=".xls"]:after,
a:not(.no_icon)[href$=".xlsx"]:after {
  content: "\f1c3";
}

/* envelope */
a:not(.no_icon)[href^="mailto:"]:before {
  content: "\f0e0";
}

/* download */
a:not(.no_icon)[download]:after {
  content: "\f019";
}

/* file-zipper */
a:not(.no_icon)[href$=".zip"]:after {
  content: "\f1c6";
}

/* info */
abbr[title]:before {
  content: "\f129";
}

/* custom structures */

.posts>.row {
  align-items: flex-start;
  border: 1.5px solid var(--border-color);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

html[data-theme*="dark"] .posts>.row {
  border: 2px solid var(--border-color);
}

.posts>.row:not(:last-child) {
  margin-bottom: 1.5em;
}

.posts>.row>picture {
  width: 33.33%;
  margin-right: 1em;
}

.posts>.row>picture>img {
  object-fit: cover;
  border-radius: 5px;
  max-height: 15em;
}

.posts>.row>article {
  flex: 1;
}

.posts>.row>article>p {
  margin: 1em auto;
}

.posts>.row>article>h3 {
  margin: 0.5em auto;
}

.buttons-row {
  right: 10px;
  bottom: 10px;
}

.buttons-row>a {
  display: block;
  height: 2.4em;
  padding-top: 0.2em;
  font-size: 0.8em;
}

.buttons-row>a:not(:first-child) {
  margin-top: 10px;
}

.theme-selector>i:before,
html[data-theme="light"] .theme-selector>i:before {
  content: "\f186";
}

html[data-theme="dark"] .theme-selector>i:before {
  content: "\f185";
}

/* style (adjustments) for different screen sizes */

body {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 40cm;
}

@media screen and (max-width: 1000px) {

  body {
    width: 95%;
  }

  .posts>.row {
    margin: 0.5em;
    padding: 0.5em;
  }

  .posts>.row>picture {
    width: 40%;
    margin-right: 0.5em;
  }

  .posts>.row>article>p {
    margin: 0.5em auto;
  }

  .posts>.row>article>h3 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {

  body {
    width: 98%;
  }

  header>h1 {
    width: 30%;
  }

  .posts>.row {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  header {
    margin-bottom: 2em;
  }

  header>nav.row {
    display: block;
    margin-top: 0;
  }

  header>nav>div {
    margin-bottom: 0.3em;
  }

  aside {
    --aside-width: 50vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(calc(var(--aside-width) * -1));
    transition: var(--animate-all);
    height: 100vh;
    width: var(--aside-width);
    padding: 7em 0.5em;
    background-color: var(--accent-color);
  }
  
  aside:hover {
    transform: translateX(0);
    transition: var(--animate-all);
  }

  aside:after {
    position: fixed;
    top: 6.2em;
    left: calc(var(--aside-width) - 0.5em);
    background-color: var(--accent-color);
    content: "\f0c9";
    border: 1em solid var(--accent-color);
    border-radius: 0 50px 50px 0;
    color: var(--highlight-color);
  }

  aside:hover:after {
    content: "\f00d";
    color: var(--focus-color);
  }
}

@media screen and (max-width: 400px) {
  aside {
    --aside-width: 70vw;
  }
}