/* colors */

:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

/* apply scheme */

html,
html[data-theme*="light"] {
  --text-color: var(--base00);
  --background-color: var(--base3);
  --border-color: var(--base1);
}

html[data-theme*="dark"] {
  --text-color: var(--base0);
  --background-color: var(--base03);
  --border-color: var(--base01);
}

html {
  --highlight-color: var(--blue);
  --focus-color: var(--violet);
  --active-color: var(--cyan);
  --title-color: var(--green);
  --heading-color: var(--orange);
}

/* other variables */

html {
  --animate-all: all 200ms ease-in-out;
  --animate-all-fast: all 100ms ease-in-out;
}

/* general style */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
}

picture {
  width: 10em;
}

picture>img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a:focus,
a:visited {
  color: var(--highlight-color);
  text-decoration: none;
  transition: var(--animate-all-fast);
}

a.active,
a:active {
  color: var(--active-color);
}

a:not(.active):hover {
  color: var(--focus-color);
}

a.inherit,
a.inherit:hover {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  margin-top: 0;
  color: var(--title-color);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

header {
  justify-content: space-between;
  margin: 1em 0;
}

header>nav {
  font-size: 1.05em;
}

header>nav>.row {
  align-items: center;
}

footer {
  margin-top: 2.5em;
  margin-bottom: 1em;
  padding-top: 10vh;
  text-align: center;
}

footer>.row {
  justify-content: center;
}

footer>.row>:not(:last-child) {
  margin-right: 0.5em;
}

/* attribute dependent styles */

[hidden] {
  display: none;
}

[onclick] {
  cursor: pointer;
}

/* custom style classes */

.row {
  display: flex;
}

.row>:not(:last-child) {
  margin-right: 1em;
}

.fixed {
  position: fixed;
}

.theme-selector {
  top: 5px;
  left: 5px;
}

.scroll-up {
  bottom: 5px;
  right: 5px;
}

/* remove default style */

ul.row,
ul.posts {
  padding: 0;
  list-style-type: none;
}

/* font awesome icons for specific link types */
a:not(.no_icon):before,
a:not(.no_icon):after {
  font-family: "FontAwesome";
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  vertical-align: baseline;
  padding-left: 0.2em;
}

/* paperclip */
a:not(.no_icon)[href*="#"]:after {
  content: "\f0c6";
}

/* arrow-up-right-from-square */
a:not(.no_icon)[target="_blank"]:after {
  content: "\f08e";
}

/* file-pdf */
a:not(.no_icon)[href$=".pdf"]:after {
  content: "\f1c1";
}

/* file-word */
a:not(.no_icon)[href$=".doc"]:after,
a:not(.no_icon)[href$=".docx"]:after {
  content: "\f1c2";
}

/* file-excel */
a:not(.no_icon)[href$=".xls"]:after,
a:not(.no_icon)[href$=".xlsx"]:after {
  content: "\f1c3";
}

/* envelope */
a:not(.no_icon)[href^="mailto:"]:before {
  content: "\f0e0";
}

/* download */
a:not(.no_icon)[download]:after {
  content: "\f019";
}

/* file-zipper */
a:not(.no_icon)[href$=".zip"]:after {
  content: "\f1c6";
}

/* info */
abbr[title]:before {
  content: "\f129";
}

/* custom structures */

.posts>.row {
  align-items: flex-start;
  border: 1.5px solid var(--border-color);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

html[data-theme*="dark"] .posts>.row {
  border: 2px solid var(--border-color);
}

.posts>.row:not(:last-child) {
  margin-bottom: 1.5em;
}

.posts>.row>picture {
  width: 33.33%;
  margin-right: 1em;
}

.posts>.row>picture>img {
  object-fit: cover;
  border-radius: 5px;
  max-height: 15em;
}

.posts>.row>article {
  flex: 1;
}

.posts>.row>article>p {
  margin: 1em auto;
}

.posts>.row>article>h3 {
  margin: 0.5em auto;
}

/* style (adjustments) for different screen sizes */

body {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 40cm;
}

@media screen and (max-width: 1000px) {

  body {
    width: 95%;
  }

  .posts>.row {
    margin: 0.5em;
    padding: 0.5em;
  }

  .posts>.row>picture {
    width: 40%;
    margin-right: 0.5em;
  }

  .posts>.row>article>p {
    margin: 0.5em auto;
  }

  .posts>.row>article>h3 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {

  body {
    width: 98%;
  }

  .posts>.row {
    display: block;
  }
}

/* for debugging */

* {
  /* outline: 1px solid red; */
}